/***************************
 * 
 * YOUR APP CSS
 * 
 * Use this stylesheet to easily
 * override default furnax colors
 * and add your own styles
 * 
 ***************************/


/***************************
 * 
 * 1. Set Your Custom Colors
 * 
 * You just have to set your colors here
 * 
 ***************************/


/* main colors */


/* milk: #F8F9ED
 * grey: #848484
 * blue: #73C9C7
 * ligter blue: #CDF9F7
 */

html,
.view,
.furnax-popup,
.sidemenu.openmenu #toggleMenu span,
#furnax_splashscreen {
  background: #F8F9ED;
  color: #848484;
}
.sidemenu body {
  /* a gradient is suggested as a background when a sidemenu is used. go to http://goo.gl/OB6IUX */
  background-image: -ms-linear-gradient(top, #444 0%, #000000 100%);
  background-image: -moz-linear-gradient(top, #444 0%, #000000 100%);
  background-image: -o-linear-gradient(top, #444 0%, #000000 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #444), color-stop(1, #000000));
  background-image: -webkit-linear-gradient(top, #444 0%, #000000 100%);
  background-image: linear-gradient(to bottom, #444 0%, #000000 100%);
}

/* links and accents */

.view h1,
.view h2,
.view h3,
.view h4,
.view h5,
.button,
.backbutton,
.view .button {
  color: #73C9C7;
  border-color: transparent;
}
.view p {
  color: #848484;
}
#navbar,
#tabbar,
#loading-container {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  background: #CDF9F7;
  color: #73C9C7;
}

/* inverted style, for filled buttons and active states */

.view .button:active,
.button:active,
.button.filled,
#tabbar a:active,
#tabbar a:focus,
#tabbar a.selected,
#tabbar a:active:focus,
#navbar .button:active,
#navbar .backbutton:active,
ul.list li a:active,
.tab-container .tab-bar-nav ul li.selected,
.view .button.focus:active {
  background: #91E2E2;
  color: #CDF9F7;
}
body .button.filled {
  box-shadow: 0 4px 0 0 #73C9C7;
  position: relative;
  transition: all .4s;
  top: 0px;
}
body .button.filled:active {
  box-shadow: 0 0 0 0 #73C9C7;
  top: 4px;
  transition: all .1s;
  background-color: #8FDBD9;
  position: relative;
  color: #F8F9ED;
}

/* lists */

ul.list {
  box-shadow: 0 1px 0 #ddd, 0 -1px 0 #fff;
  background: #fff;
  color: #848484;
}
ul.list li {
  -webkit-box-shadow: inset 0 -1px 0 #ddd;
  -moz-box-shadow: inset 0 -1px 0 #ddd;
  -ms-box-shadow: inset 0 -1px 0 #ddd;
  box-shadow: inset 0 -1px 0 #ddd;
}
ul.list li a:active {
  background: none;
  color: inherit;
}
ul.list li.icon:before {
  color: #73C9C7;
}

/* tab */

.view .button.focus,
.tab-container .tab-bar-nav ul {
  border-color: #73C9C7;
  color: #73C9C7;
}
