/* specific changes to adapt the mobile app to web */

body, #content, #fnApp {
  max-width: 600px;
  position: relative;
  -webkit-transform: translate3d(0,0,0);
}

body {
  margin: 0 auto;
  box-shadow: 0 0 4px rgba(0,0,0,0.3);
  background: transparent;
}

#fnApp {
  background: #f7f7f7;  
}

#content {
  margin-top: 100px;
}

.view {
  padding-top: 0;
  padding-bottom: 90px;
}

#navbar {
  position: absolute;
  margin-top: 52px;
  -webkit-box-shadow: 0 2px 1px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 2px 1px 1px rgba(0,0,0,0.1);
  -ms-box-shadow: 0 2px 1px 1px rgba(0,0,0,0.1);
  box-shadow: 0 2px 1px 1px rgba(0,0,0,0.1);
}

/* tabbar for the web */

#tabbar {
  display: block;
  position: absolute;
  top: 0; 
  background: inherit;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#tabbar a {
line-height: 30px;
border: 1px solid #ccc;
border-radius: 3px 3px 0 0;
margin-top: 10px;
padding-top: 4px;
background: inherit;  
}

#tabbar .icon::before {
line-height: 20px;
text-align: left;
position: relative;
top: -2px;
left: 0px;
font-size: 28px;
width: auto;
display: inline-block;
}

#tabbar a:active, #tabbar a:focus, #tabbar a:active:focus, #tabbar a.selected {
  height: inherit;
  background: rgba(255,255,255,0.95);
}

.badge.tc {
  left: 100%;
  z-index: 100;
}

#tabbar a.icon.wifi, #tabbar a.icon.info {
  display: none; 
}

#tabbar a.icon.user {
  float: right; 
}

.button {
  cursor: pointer; 
}


/* changes to cart page */

.cart-bottom-placeholder {
  display: none !important; 
}

.cart-order-placeholder img {
  width: 330px;
top: -10px;
right: -3px;
}


/* firefox fixes */

