@font-face {
  font-family: 'furnicon';
  src: url('../furnicon/furnicon.eot?94737297');
  src: url('../furnicon/furnicon.eot?94737297#iefix') format('embedded-opentype'),
       url('../furnicon/furnicon.woff?94737297') format('woff'),
       url('../furnicon/furnicon.ttf?94737297') format('truetype'),
       url('../furnicon/furnicon.svg?94737297#furnicon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'furnicon';
    src: url('../furnicon/furnicon.svg?94737297#furnicon') format('svg');
  }
}
*/
 
 .icon:before {
  font-family: "furnicon";
  font-style: normal;
  font-weight: normal !important;
  speak: none;
  color: inherit; 
  display: inline-block;
  text-decoration: none;
  font-size: 1.1em;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  vertical-align: middle;
  position: relative;
  margin: 0 .4em;
}

.backbutton:before {
  content: '\e800';
  color: inherit;
  font-weight: normal !important;
  font-family: 'furnicon';
  font-size: 28px;
  text-align: center;
  vertical-align: middle;
  position: relative;
}
/*
.android .backbutton:before {
  content: "Torna";
  font-family: sans-serif;
  font-size: 14px;
}
*/
.android #tabbar a.icon:before {
  transform: translate(-3px, 0);
}
.android .button.icon:before {
  transform: translate(0, 3px);
  padding: 2px 4px 0 4px;
}
 
.icon.spin1:before { content: '\e858'; } 
.icon.target:before { content: '\e855'; } /* '' */
.icon.music-1:before { content: '\e889'; } /* '' */
.icon.search-1:before { content: '\e83f'; } /* '' */
.icon.mail-alt:before { content: '\e854'; } /* '' */
.icon.heart-1:before { content: '\e85c'; } /* '' */
.icon.video:before { content: '\e888'; } /* '' */
.icon.picture:before { content: '\e869'; } /* '' */
.icon.camera-1:before { content: '\e87a'; } /* '' */
.icon.ok:before { content: '\e847'; } /* '' */
.icon.plus-circled:before { content: '\e843'; } /* '' */
.icon.minus-circled:before { content: '\e844'; } /* '' */
.icon.help-circled:before { content: '\e845'; } /* '' */
.icon.link-1:before { content: '\e87d'; } /* '' */
.icon.attach-1:before { content: '\e87c'; } /* '' */
.icon.lock-1:before { content: '\e887'; } /* '' */
.icon.lock-open:before { content: '\e891'; } /* '' */
.icon.pin:before { content: '\e856'; } /* '' */
.icon.tag-1:before { content: '\e864'; } /* '' */
.icon.tags:before { content: '\e865'; } /* '' */
.icon.download-cloud:before { content: '\e872'; } /* '' */
.icon.comment-1:before { content: '\e837'; } /* '' */
.icon.chat:before { content: '\e838'; } /* '' */
.icon.attention:before { content: '\e866'; } /* '' */
.icon.location-1:before { content: '\e852'; } /* '' */
.icon.direction:before { content: '\e853'; } /* '' */
.icon.doc-1:before { content: '\e84c'; } /* '' */
.icon.folder-empty:before { content: '\e862'; } /* '' */
.icon.folder-open-empty:before { content: '\e863'; } /* '' */
.icon.rss:before { content: '\e87e'; } /* '' */
.icon.phone:before { content: '\e86e'; } /* '' */
.icon.cog-alt:before { content: '\e886'; } /* '' */
.icon.wrench:before { content: '\e84a'; } /* '' */
.icon.basket-1:before { content: '\e867'; } /* '' */
.icon.calendar-1:before { content: '\e868'; } /* '' */
.icon.mic:before { content: '\e84f'; } /* '' */
.icon.volume-off:before { content: '\e86b'; } /* '' */
.icon.volume-down:before { content: '\e86c'; } /* '' */
.icon.volume-up:before { content: '\e86d'; } /* '' */
.icon.block:before { content: '\e87f'; } /* '' */
.icon.down:before { content: '\e848'; } /* '' */
.icon.leftarrow:before { content: '\e800'; } /* '' */
.icon.rightarrow:before { content: '\e801'; } /* '' */
.icon.up:before { content: '\e849'; } /* '' */
.icon.left-big:before { content: '\e834'; } /* '' */
.icon.right-big:before { content: '\e835'; } /* '' */
.icon.award:before { content: '\e885'; } /* '' */
.icon.flash:before { content: '\e880'; } /* '' */
.icon.flight:before { content: '\e881'; } /* '' */
.icon.off:before { content: '\e88a'; } /* '' */
.icon.floppy:before { content: '\e88b'; } /* '' */
.icon.rocket:before { content: '\e833'; } /* '' */
.icon.bug:before { content: '\e836'; } /* '' */
.icon.beaker-1:before { content: '\e884'; } /* '' */
.icon.gauge:before { content: '\e883'; } /* '' */
.icon.spinner:before { content: '\e83d'; } /* '' */
.icon.medkit:before { content: '\e882'; } /* '' */
.icon.html5:before { content: '\e84b'; } /* '' */
.icon.star-filled:before { content: '\e879'; } /* '' */
.icon.cancel-alt-filled:before { content: '\e846'; } /* '' */
.icon.home-outline:before { content: '\e85a'; } /* '' */
.icon.home:before { content: '\e85b'; } /* '' */
.icon.link:before { content: '\e832'; } /* '' */
.icon.upload:before { content: '\e875'; } /* '' */
.icon.wifi:before { content: '\e84d'; } /* '' */
.icon.temperature:before { content: '\e88c'; } /* '' */
.icon.database-1:before { content: '\e850'; } /* '' */
.icon.key-1:before { content: '\e840'; } /* '' */
.icon.puzzle:before { content: '\e88d'; } /* '' */
.icon.undo:before { content: '\e85f'; } /* '' */
.icon.share:before { content: '\e876'; } /* '' */
.icon.export:before { content: '\e877'; } /* '' */
.icon.basket:before { content: '\e857'; } /* '' */
.icon.signal:before { content: '\e84e'; } /* '' */
.icon.award-1:before { content: '\e88f'; } /* '' */
.icon.chart:before { content: '\e88e'; } /* '' */
.icon.graph:before { content: '\e842'; } /* '' */
.icon.money-1:before { content: '\e890'; } /* '' */
.icon.user-1:before { content: '\e839'; } /* '' */
.icon.user-male:before { content: '\e83c'; } /* '' */
.icon.user-female:before { content: '\e83a'; } /* '' */
.icon.users:before { content: '\e83b'; } /* '' */
.icon.upload-cloud:before { content: '\e874'; } /* '' */
.icon.spin3:before { content: '\e859'; } /* '' */
.icon.newspaper:before { content: '\e895'; } /* '' */
.icon.clock-1:before { content: '\e85d'; } /* '' */
.icon.hourglass:before { content: '\e851'; } /* '' */
.icon.ccw:before { content: '\e83e'; } /* '' */
.icon.globe-1:before { content: '\e893'; } /* '' */
.icon.coverflow:before { content: '\e892'; } /* '' */
.icon.hash:before { content: '\e894'; } /* '' */
.icon.college:before { content: '\e87b'; } /* '' */
.icon.tree-2:before { content: '\e896'; } /* '' */
.icon.paypal:before { content: '\e89b'; } /* '' */
.icon.android:before { content: '\e89c'; } /* '' */
.icon.gplus:before { content: '\e8a0'; } /* '' */
.icon.fivehundredpx:before { content: '\e89e'; } /* '' */
.icon.pinterest:before { content: '\e89f'; } /* '' */
.icon.appstore:before { content: '\e89d'; } /* '' */
.icon.skype:before { content: '\e89a'; } /* '' */
.icon.twitter:before { content: '\e898'; } /* '' */
.icon.youtube:before { content: '\e899'; } /* '' */
.icon.facebook:before { content: '\e897'; } /* '' */
.icon.download-alt:before { content: '\e873'; } /* '' */
.icon.bell:before { content: '\e8a1'; } /* '' */
.icon.cog-1:before { content: '\e841'; } /* '' */
.icon.volume:before { content: '\e86a'; } /* '' */
.icon.headphones:before { content: '\e86f'; } /* '' */
.icon.backward:before { content: '\e860'; } /* '' */
.icon.forward:before { content: '\e861'; } /* '' */
.icon.leaf:before { content: '\e8a4'; } /* '' */
.icon.road:before { content: '\e8a2'; } /* '' */
.icon.magnet:before { content: '\e871'; } /* '' */
.icon.megaphone-1:before { content: '\e870'; } /* '' */
.icon.tasks:before { content: '\e8a3'; } /* '' */
.icon.asl:before { content: '\e8a5'; } /* '' */
.icon.music:before { content: '\e802'; } /* '' */
.icon.search:before { content: '\e803'; } /* '' */
.icon.mail:before { content: '\e804'; } /* '' */
.icon.heart:before { content: '\e805'; } /* '' */
.icon.star:before { content: '\e806'; } /* '' */
.icon.user:before { content: '\e807'; } /* '' */
.icon.videocam:before { content: '\e808'; } /* '' */
.icon.camera:before { content: '\e809'; } /* '' */
.icon.photo:before { content: '\e80a'; } /* '' */
.icon.attach:before { content: '\e80b'; } /* '' */
.icon.lock:before { content: '\e80c'; } /* '' */
.icon.eye:before { content: '\e80d'; } /* '' */
.icon.tag:before { content: '\e80e'; } /* '' */
.icon.thumbs-up:before { content: '\e80f'; } /* '' */
.icon.pencil:before { content: '\e810'; } /* '' */
.icon.comment:before { content: '\e811'; } /* '' */
.icon.location:before { content: '\e812'; } /* '' */
.icon.cup:before { content: '\e813'; } /* '' */
.icon.trash:before { content: '\e814'; } /* '' */
.icon.doc:before { content: '\e815'; } /* '' */
.icon.note:before { content: '\e829'; } /* '' */
.icon.cog:before { content: '\e828'; } /* '' */
.icon.params:before { content: '\e827'; } /* '' */
.icon.calendar:before { content: '\e826'; } /* '' */
.icon.sound:before { content: '\e825'; } /* '' */
.icon.clock:before { content: '\e824'; } /* '' */
.icon.lamp:before { content: '\e823'; } /* '' */
.icon.tv:before { content: '\e822'; } /* '' */
.icon.desktop:before { content: '\e821'; } /* '' */
.icon.mobile:before { content: '\e820'; } /* '' */
.icon.cd:before { content: '\e81f'; } /* '' */
.icon.inbox:before { content: '\e81e'; } /* '' */
.icon.globe:before { content: '\e81d'; } /* '' */
.icon.cloud:before { content: '\e81c'; } /* '' */
.icon.paper-plane:before { content: '\e81b'; } /* '' */
.icon.fire:before { content: '\e81a'; } /* '' */
.icon.graduation-cap:before { content: '\e819'; } /* '' */
.icon.megaphone:before { content: '\e818'; } /* '' */
.icon.database:before { content: '\e817'; } /* '' */
.icon.key:before { content: '\e816'; } /* '' */
.icon.beaker:before { content: '\e82a'; } /* '' */
.icon.truck:before { content: '\e82b'; } /* '' */
.icon.money:before { content: '\e82c'; } /* '' */
.icon.food:before { content: '\e82d'; } /* '' */
.icon.shop:before { content: '\e82e'; } /* '' */
.icon.diamond:before { content: '\e82f'; } /* '' */
.icon.t-shirt:before { content: '\e830'; } /* '' */
.icon.wallet:before { content: '\e831'; } /* '' */
.icon.logout:before { content: '\e878'; } /* '' */
.icon.pencil-1:before { content: '\e85e'; } /* '' */